.container {
  padding: 10px 12px 10px 12px;
  width: max-content;
  font-size: 16px;
  display: block;
  text-decoration: none;
  line-height: 24px;
  color: var(--active-text-color);
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s, transform 0.2s ease;
  cursor: pointer;
  font-weight: 400;
  &:hover {
    background-color: var(--hover-light);
  }
  &:active, &:focus {
    color: var(--active-text-color);
    transform: scale(0.96);
  }
  span {
    font-weight: 400;
    color: var(--active-text-color);
    filter: brightness(0.4);
    transition: filter 0.3s;
    vertical-align: middle;
  }
  img{
    filter: brightness(0.4);
    transition: filter 0.3s;
    vertical-align: middle;
    margin-right: 12px;
  }
  &.active{
    span{
      filter: brightness(1);
    }
    img{
      filter: brightness(1);
    }
  }
}

@media (max-width: 500px) {
  .container {
    padding: 4px 6px;
    span {
      font-size: 14px;
      line-height: 21px;
    }
  }
}
