.container{
    min-height: 296px;
    position: relative;
}
.title{
    font-size: 44px;
    line-height: 64px;
    font-weight: 600;
    padding-left: 47px;
    margin: 0;
    padding-top: 40px;
    color: var(--most-light);
    cursor: default;
    span{
        font-weight: 600;
        background: linear-gradient(90deg, #3CB5EA 73.5%, #4cbbea 100%);
        -webkit-background-clip: text; 
        background-clip: text;
        color: transparent;
    }
}

.backContainer{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}