:root {
  --dark-text: #161618;
  --most-dark: #000000;
  --hover-light: #f3fbff;
  --active-text-color: #3cb5ea;
  --title-gradient: #009ee3;
  --most-light: #ffffff;
  --light-gray: #f5f5f5;
  --dark-gray: #949494;
  --dark-gray-hover: #b1b1b1;
  --gay-light-hover: #b9b9b9;
  --theme-hover: #49bef1;
  --theme-active: #37afe3;
  --color-border: #c7c7c7;
  --semi-light-gray: #80808f;
  --button-gray: #EBEBEB;
  --button-hover-gray: #F1F1F1;
  --link-gray: #5F646D;
  --error: #C70039;
  --blue-button: #F3FBFF;
  --share-button-color: #009fe3;
}

* {
  font-family: var(--font-poppins);
  font-weight: 300;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: transparent;
}
body {
  margin: 0;
}

.main {
  min-height: 100vh;
  position: relative;
}

.parallax {
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 91px;
}

.parallaxLayer {
  position: absolute;
  right: 0;
  left: 0;
  top: 664px;
  margin-right: auto;
  margin-left: auto;
  height: calc(100% + 300px);
  z-index: -1;
  text-align: center;
  img{
    height: 444px;
    width: auto;
  }

 
}
h1{
  font-weight: 700;
  font-size: 56px;
  line-height: 72px;
}

.notFoundPage{
  min-height: calc(100vh - 491px);
}
.informationSign{
  font-size: 16px;
  line-height: 32px;
  margin: 32px 0;
  margin-bottom: 40px;
}

a{
  color: var(--title-gradient);
  transition: color 0.3s;
  &:hover{
    color: var(--active-text-color)
  }
}


.specific-padding{
  padding-top: 83px;
}


@media(max-width: 650px){
  .specific-padding{
    padding-top: 21px;
  }
}

@media(max-width: 500px){
  .parallax {
    .parallaxImage{
      width: 222px !important;
      height: 222px !important;
      img{
        height: 222px;
        width: auto;
      }
    }
  }
  .main-feedback-margin{
    margin-top: 11px !important;
  }

  .specific-padding{
    padding-top: 0px;
  }
}

