.title,
.diagramTitle {
  padding-top: 65px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 11px;
}

.title {
  font-weight: 200;
  color: var(--light-gray-text);
  line-height: 48px;
  padding: 60px 0;
  &.loading {
    font-size: 18px;
    animation: blink 2s infinite;
  }
}
.button {
  margin-right: 0 !important;
  margin-left: 12px !important;
  font-size: 14px !important;
  line-height: 32px !important;
  font-weight: 300 !important;
  padding: 4px 16px !important;
  color: var(--most-dark) !important;
  background-color: var(--button-hover-gray) !important;
  border: none;
  border: 1px solid var(--button-hover-gray) !important;
  transition: border-color 0.2s;
  white-space: nowrap;
  height: max-content;
  &:hover{
    background-color: var(--hover-light) !important;
    border: 1px solid var(--hover-light) !important;
  }
}

.disgramsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.disgramsItemContainer {
  margin-bottom: 30px;
}

.diagramTitle {
  font-size: 16px;
  line-height: 24px;
  padding-top: 0;
}
.mesureContainer {
  display: flex;
  justify-content: flex-start;
  padding-top: 15px;
  padding-bottom: 25px;
  .meduateItem {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    .value {
      font-size: 20px;
      line-height: 30px;
      font-weight: 500;
      text-align: center;
      color: var(--title-gradient);
    }
    .description {
      font-size: 10px;
      line-height: 16px;
      color: var(--dark-text);
    }
  }
}

.active {
  color: var(--active-text-color) !important;
  border: 1px solid var(--active-text-color) !important;
  background-color: var(--hover-light) !important;
  span{
    color: var(--active-text-color) !important;
    filter: brightness(1) !important
  }
  &:hover{
    border: 1px solid var(--active-text-color) !important;
  }
}
.finterButtonsContainer {
  display: flex;
  justify-content: flex-end;
  padding: 24px 0;
  padding-top: 44px;
  padding-bottom: 24px;
}
.diagramContainer {
  border: 1px solid var(--color-border);
  border-radius: 12px;
  margin-bottom: 24px;
  overflow: hidden;
  &.small {
    height: 386px;
  }
  &.big {
    height: 494px;
  }

  .diagramTitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    background-color: var(--light-gray);
    padding: 17px 23px;
  }
  .diagramItem {
    padding: 23px 20px;
    display: flex;
    justify-content: left;
    &Dounat{
      canvas{
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.mainContainer {
  min-height: 240px;
}

.dropdownContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  .dropDown {
    width: max-content;
    min-width: 100px;
    min-height: 29px;
    border: 0;
    span {
      font-size: 16px !important;
      line-height: 24px !important;
    }
  }
  .containerStyle{
    padding: 0;
    margin-left: 0;
  }
  .elementsList{
    min-height: 0;
    max-height: 29px;
    border: none;
    border-radius: 0;
  }
}

.noData{
 font-size: 14px;
 line-height: 32px;
 margin-top: 10px;
}

.NumbersConatiner{
  padding-top: 66px;
  width: 100%;
  .valueItem{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border);
    vertical-align: bottom;
    padding-top: 30px;
    cursor: pointer;
    transition: border-bottom 0.2s;
    &:hover{
      border-bottom: 1px solid var(--start-back-gradient);
      .valueTitle{
        color: var(--start-back-gradient);
      }  
    }
    .valueTitle{
      font-size: 14px;
      line-height: 32px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: var(--most-dark);
      transition: color 0.2s;
    }
    .value{
      color: var(--start-back-gradient);
      font-size: 64px;
      line-height: 64px;
      font-weight: 700;
    }
  }
}
