.title, .diagramTitle {
    padding-top: 65px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 11px;
}
.button{
    margin-bottom: 20px;
    margin-left:0 !important;
    margin-right: 30px !important;
}

.disgramsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.disgramsItemContainer{
    margin-bottom: 30px;
}

.diagramTitle{
    font-size: 16px;
    line-height: 24px;
    padding-top: 0;
}
.mesureContainer{
    display: flex;
    justify-content: flex-start;
    padding-top: 15px;
    padding-bottom: 25px;
    .meduateItem{
        display: flex;
        flex-direction: column;
        margin-right: 15px;
        .value{
            font-size: 20px;
            line-height: 30px;
            font-weight: 500;
            text-align: center;
            color: var(--title-gradient)
        }
        .description{
            font-size: 10px;
            line-height: 16px;
            color: var(--dark-text);
        }
    }
}