.title,
.diagramTitle {
  padding-top: 65px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 11px;
}

.title {
  font-weight: 200;
  color: var(--light-gray-text);
  line-height: 48px;
  padding: 60px 0;
  &.loading {
    font-size: 18px;
    animation: blink 2s infinite;
  }
}
.button {
  margin-right: 0;
  margin-left: 12px !important;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  padding: 4px 16px;
  color: var(--most-dark);
  background-color: var(--button-hover-gray);
  border: none;
  border: 1px solid var(--button-hover-gray);
  transition: border-color 0.2s;
  &:hover{
    background-color: var(--hover-light);
    border: 1px solid var(--hover-light);
  }
}

.disgramsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.disgramsItemContainer {
  margin-bottom: 30px;
}

.diagramTitle {
  font-size: 16px;
  line-height: 24px;
  padding-top: 0;
}
.mesureContainer {
  display: flex;
  justify-content: flex-start;
  padding-top: 15px;
  padding-bottom: 25px;
  .meduateItem {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    .value {
      font-size: 20px;
      line-height: 30px;
      font-weight: 500;
      text-align: center;
      color: var(--title-gradient);
    }
    .description {
      font-size: 10px;
      line-height: 16px;
      color: var(--dark-text);
    }
  }
}

.active {
  color: var(--active-text-color);
  border: 1px solid var(--active-text-color);
  background-color: var(--hover-light);
  span{
    color: var(--active-text-color);
    filter: brightness(1)
  }
  &:hover{
    border: 1px solid var(--active-text-color);
  }
}
.finterButtonsContainer {
  display: flex;
  justify-content: flex-end;
  padding: 24px 0;
  padding-top: 44px;
}
.diagramContainer {
  border: 1px solid var(--color-border);
  border-radius: 12px;
  margin-bottom: 24px;
  overflow: hidden;
  &.small {
    height: 386px;
  }
  &.big {
    height: 494px;
  }

  .diagramTitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    background-color: var(--light-gray);
    padding: 17px 23px;
  }
  .diagramItem {
    padding: 23px 20px;
    display: flex;
    justify-content: left;
  }
}

.mainContainer {
  min-height: 240px;
}

.dropdownContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  .dropDown {
    width: max-content;
    min-width: 100px;
    min-height: 29px;
    border: 0;
    span {
      font-size: 16px !important;
      line-height: 24px !important;
    }
  }
  .containerStyle{
    padding: 0;
    margin-left: 0;
  }
  .elementsList{
    min-height: 0;
    max-height: 29px;
    border: none;
    border-radius: 0;
  }
}

.noData{
 font-size: 14px;
 line-height: 32px;
 margin-top: 10px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}